.about {
    position: relative;
    padding: 20px 5% 200px 5%;
    background-repeat: no-repeat;
    background-size: 200px 182px;
    background-position: 50% 100%;
    background-image: url("../img/about-back.png");
    
    @media (min-width: $tablet-width) {
        padding: 20px 5% 250px 5%;
        background-size: 250px 228px;
    }
    
    @media (min-width: $desktop-width) {
        width: 1400px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px 0 385px 0;
        background-size: 375px 342px;
    }

    .arrows {
        .arrows-link {
            outline: none;
            transition: 0.2s ease;

            &:hover,
            &:focus {
                opacity: 0.7;
            }

            &:active {
                opacity: 0.5;
            }
        }
    }
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 50px 0;

    @media (min-width: $tablet-width) {
        padding: 0;
    }

    @media (min-width: $desktop-width) {
        margin: 20px 0 100px 0;
    }

    .romanov-img {
        width: 340px;
        height: 362px;
        margin: 0 auto 40px auto;

        @media (min-width: $tablet-width) {
            width: 500px;
            height: 533px;
        }

        @media (min-width: $desktop-width) {
            width: 500px;
            height: 533px;
            margin: 5px 0 40px 0;
        }
    }

    .romanov-img-eng {
        @media (min-width: $desktop-width) {
            margin: 10px 0 40px 0;
        }
    }

    .about-info__text {
        text-indent: 20px;
        margin: 0;

        @media (min-width: $desktop-width) {
            &:first-of-type {
                width: 800px;
            }
        }
    }
}

.quotes-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 70px 0;
    padding: 0;

    @media (min-width: $desktop-width) {
        margin: 0 0 100px 0;
    }

    .quotes-list__item {
        &:first-of-type {
            margin: 0 0 40px 0;

            @media (min-width: $desktop-width) {
                margin: 0 0 50px 0;
            }
        }
    }

    .quote {
        position: relative;
        margin: 0;

        &::before {
            position: absolute;
            content: "";
            width: 25px;
            height: 2px;

            top: 10px;
            left: 0;

            background-color: #474a51;

            @media (min-width: $tablet-width) {
                width: 35px;
                height: 3px;
                top: 13px;
            }

            @media (min-width: $desktop-width) {
                width: 60px;
                top: 20px;
            }
        }
    }

    .quote-text {
        margin: 0 0 15px 0;
        text-indent: 35px;

        @media (min-width: $tablet-width) {
            text-indent: 45px;
        }

        @media (min-width: $desktop-width) {
            text-indent: 50px;
            margin: 0 0 20px 50px;
        }
    }

    .quote-cite {
        display: block;
        color: #dcdcdc;
        font-size: 20px;
        font-style: italic;
        text-align: end;
        font-family: "Polyglott", sans-serif;

        @media (min-width: $tablet-width) {
            font-size: 27px;
        }

        @media (min-width: $desktop-width) {
            font-size: 35px;
        }
    }
}

.text-question {
    text-align: center;
}
